@font-face
{
    src:url('/fonts/Nelhinco\ DEMO\ VERSION.ttf');
    font-family: nelhinco;

}
@font-face
{
      src:url('/fonts/charlotte.ttf');
     font-family: charlo; 
}
@font-face
{
     src:url('/fonts/Christian\ Sunday\ Italic.otf');
    font-family: christain;
}
@font-face
{
    src:url('/fonts/NellaSueDEMO.ttf');
    font-family: nella;
}
@font-face
{
    src:url('/fonts/Prestige\ Signature\ Script\ -\ Demo.ttf');
    font-family: sign;
}
@font-face
{
    src:url('/fonts/The\ Heart\ Maze\ Demo.ttf');
    font-family: heart; 
}    
@font-face
{
    src:url('/fonts/Adine\ Kirnberg.ttf');
    font-family:adine;
}
@font-face
{
  src: url('/fonts/Gestae\ Ardentia\ Italic\ DEMO\ VERSION.ttf');
  font-family: itali;
}
@font-face
{
  src:url('/fonts/Lieselotte\ -\ Personal\ Use.ttf');
  font-family: lise;
}
.logo
{
    height: 150px;
    width: 100%;
    /* background-color: rgb(102, 147, 187); */
    display: flex;
    justify-content: space-between;
    position: relative;
}
.font1
{
    font-family:nelhinco;
    font-size: 1.5rem;
    font-weight:500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
    margin-top: 10px;
}
.logo_text
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_font1
{
    font-family:nelhinco;
    font-size: 2.5rem;
    font-weight:500;
    /* background-color: aliceblue; */
    color: rgb(90, 26, 26);

}
.logo_font2
{
    font-family:nella;
    font-size: 2.5rem;
    font-weight:500;
    /* background-color: green; */
    margin-left: -10px;
    font-style: italic;
    color:rgb(180, 65, 65);
}
.book
{
    height: 50px;
    width: 150px;
   margin-right: 50px;

}
.bookme
{
    color: aliceblue;
    font-size: .8rem;
    text-align: center;
    letter-spacing: 5px;
    word-spacing: 5px;
    cursor: pointer;
    padding: 15px;
    background-color: black;
    margin-top:0px;
    
}
.bookme:hover
{
    color: gray;
}
.share
{
    margin-top: 55px;
    margin-left: 40px;
    cursor: pointer;
}
.share>img
{
    height: 15px;
    width: 15px;
}
.share>img:hover
{
   background-color: grey;
   border-radius: 50%;
}
.nav_page
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid black;
    margin: 0px;
   
}
.nav_size 
{
    font-size: 0.75rem;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding: 12px 40px;   
    letter-spacing: 1.5px;
    transition:1s;
    cursor: pointer;
}
a:hover
{
    color: gray;
}
a
{
  text-decoration: none;
  color: black;
  /* font-size: 0.75rem; */
}
.photo
{
    /* height: 700px; */
    width: 100%;
    /* background-color: aqua; */
    overflow: hidden;
    display: flex;
    column-gap: 10px;
    
}
.photo>img
{
    height: 700px;
    width: 50%;
    /* background-color: black; */
    animation-name:move;
    animation-duration:120s;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-delay: 5s;
    position: relative;
} 
.border
{
    height: 280px;
    width: 100%;
    background-color: rgb(240, 240, 240);
    display: grid;
    grid-template-rows: repeat(2,1fr);
    align-items: center;
    justify-content: center;
}
.border_font1
{
  font-family:nelhinco;
  font-size: 3.2rem;
  font-family:900;
  margin-top: -250px;
  margin-left:80px;
}
.border_font2
{
  font-family: "Quicksand", sans-serif;
  font-size: 1.20rem;
  font-family:800;
  font-variant: small-caps;
  letter-spacing: 5px;
  margin-top: -80px;
}
.border_e
{
    font-family: adine;
    font-size: 6rem;
    margin-left: 300px;
    margin-top: 100px;
    color: rgb(182, 181, 181);
}
.three_photo
{
  display:flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
.couple11>img
{
  height: 500px;
  width: 300px;
  border: 10px solid white;
  position: relative;
  left: 50px;
}
.couple12>img
{
  height: 500px;
  width: 320px;
  border: 10px solid white;
  margin-left: -50px;
}
.couple13>img
{
  height: 400px;
  width: 650px;
}
.couple11
{
  margin-top: 150px;
}
.couple12
{
  margin-top: 150px;
}
.couple13
{
  margin-top: -150px;
}
.exper
{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}
.the
{
  font-size: 4.5rem ;
  font-family: sign;
  margin-top: -220px;
  margin-right: 20px;
}
.experince
{
  font-size: 5rem;
  font-family:nelhinco;
  margin-top: -200px;
  margin-right: 0px;
  font-weight: 400;
}
.box
{
 display: flex;
 justify-content: center;
 align-items: center; 
 margin-left: 50px;
}
.box1
{
  height: 180px;
  width: 200px;
  border-right: 1px solid black;
}
.box2
{
  height: 180px;
  width: 200px;
  border-right: 1px solid black;
}
.box3
{
  height: 180px;
  width: 200px;
  border: 1px solid black;
  border: none;
}
.no_1
{
   display:flex;
   align-items:center;
   justify-content:center;
   margin-top: 30px;
}
.no_2
{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
}
.no_3
{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
}
.no
{
  font-family:"Quicksand", sans-serif;
  font-size: 1.1rem;
  margin-top: 30px;
  color: rgb(207, 206, 206);
  transition: 1s;
  font-weight: 600;
}
.no:hover
{
  color: rgb(136, 135, 135);
}
.num
{
  font-size: 4rem;
  color: rgb(207, 206, 206);
  transition: 1s;
}
.num:hover
{
  color: rgb(136, 135, 135);
}
.explore
{ 
  text-align: center;
   text-transform: uppercase;
   margin-top: 10px;
   font-family: "Quicksand", sans-serif;
   font-size: 0.8rem;
   font-weight:500;
   letter-spacing: 5px;
   transition: 1s;
}
.explore:hover
{
  color: rgb(136, 135, 135);
}
.about
{ 
  text-align: center;
   text-transform: uppercase;
   margin-top: 10px;
   font-family: "Quicksand", sans-serif;
   font-size: 0.8rem;
   font-weight:500;
   letter-spacing: 5px;
   transition: 1s;
}
.about:hover
{
  color: rgb(136, 135, 135);
}
.get
{ 
  text-align: center;
   text-transform: uppercase;
   margin-top: 10px;
   font-family: "Quicksand", sans-serif;
   font-size: 0.8rem;
   font-weight:500;
   letter-spacing: 5px;
   transition: 1s;
}
.get:hover
{
  color: rgb(136, 135, 135);
}
.rectangle
{
  height: 900px;
  width: 100%;
  background-color: rgb(240, 240, 240);
  margin-top: 70px;
}
.rectangle_border
{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  /* align-items: center; */
  /* column-gap: 50px; */
  margin: auto;
  width: 60%;
}
.hello_border
{
  height: 500px;
  width: 400px;
  /* border: 1px solid grey; */
  margin-top: 80px;
}
.hello
{
  font-family: itali;
  text-align: right;
  font-size: 2.5rem;
  margin-top: 50px;
}
.daylene
{
  font-family:nelhinco;
  font-size: 4rem;
  font-family:900;
  /* margin-top: 50px; */
}
.introvert
{
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.4rem;

}
.family
{
  height: 500px;
  width: 400px;
  border: 1px solid grey;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
.family>img
{
  height: 500px;
  width: 330px;
  overflow: hidden;
}
.learn
{
  display: grid;
  grid-template-rows: repeat(3,1fr);
  justify-content: end;
  margin-top: 30px;
  /* position: relative;
  left: -25px; */
  cursor: pointer;
}
.learn_more
{
  height: 50px;
  width: 250px;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-variant: small-caps;
  font-weight:550;
  letter-spacing: 4px;
  transition: 1s;
}
.learn_more:hover
{
  color: rgb(136, 135, 135);
}
.learn_more1
{
  height: 50px;
  width: 250px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-variant: small-caps;
  font-weight: 550;
  letter-spacing: 4px;
  transition: 1s;
}
.learn_more1:hover
{
  color: rgb(136, 135, 135);
}
.para
{
  font-family:nelhinco;
  font-size: 2.2rem;
  font-weight:590;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.para_s
{
  margin-left: 50px;
}
.published
{
  border: 0px solid black;
  border: none;
  height: 300px;
  width: 99%;
  text-align: center;
  font-family:nelhinco;
  font-size: 3rem;
  letter-spacing: 5px;
  font-weight: 600;
  color:#5f4324;
  position: relative;
  
}
.sposuer
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: -20px;
}
.com1>img
{
  height: 200px;
  width: 200px;
}
.com2>img
{
  height: 200px;
  width: 230px;
}
.com3>img
{
  height: 200px;
  width: 220px;
}
.com4>img
{
  height: 200px;
  width: 200px;
}
.featured_box
{
  height: 300px;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.featured
{
  height: 250px;
  width: 80%;
  border-top: 1px solid black;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2.5rem;
}
.gallerythree
{
  height: 750px;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  margin-top: -200px;
}
.gallery_three
{
  height: 700px;
  width: 80%;
  border-top: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin:none auto;
}
.gallery_1
{
  height: 600px;
  width: 350px;
  border-right: 2px solid grey;
  overflow: hidden;
  margin-left: 50px;
}
.gallery_2
{
  height: 600px;
  width: 360px;
  border-right: 2px solid grey;
  overflow: hidden;
  margin-left: 40px;
}
.gallery_2>h1
{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: -30px;
}
.gallery_3
{
  height: 600px;
  width: 400px;
  /* border: 2px solid black; */
  overflow: hidden;
  margin-left: 50px;
}
.gallery_3>h1
{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: -90px;
}
.gallery_1>img
{
  height: 400px;
  width: 300px;
  /* border: 1px solid black; */
  margin-left: 10px;
  transition: 0.4s;
}
.gallery_1>img:hover
{
  opacity:0.5;
}
.gallery_2>img
{
  height: 400px;
  width: 300px;
  /* border: 1px solid black; */
  margin-left: 10px;
  transition:0.4s;
}
.gallery_2>img:hover
{
  opacity:0.5;
}
.gallery_3>img
{
  height: 400px;
  width: 300px;
  /* border: 1px solid black; */
 margin-left: 10px;
 transition: 0.4s;
}
.gallery_3>img:hover
{
  opacity:0.5;
}
h1
{
  font-family:  nelhinco;
  font-size: 3rem;
  font-weight: 100;
  margin-left: 5px;
}
h2
{
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 50px;
  letter-spacing: 3.5px;
  font-variant: small-caps;
  margin-top: -20px;
}
h3
{
  text-align:center;
  text-decoration: underline;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  font-variant: small-caps;
  letter-spacing: 2px;
  transition: 0.8s;
  cursor: pointer;
}
h3:hover
{
  color: grey;
}
h4
{
  text-align: center;
  margin-left: -100px;
  font-size: 1rem;
  text-decoration: underline;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  font-variant: small-caps;
  letter-spacing: 2px;
  transition: 0.8s;
  cursor: pointer;
}
h4:hover
{
  color: gray;
}
.all_galleries
{
  position: relative;
  left: 500px;
  font-variant: small-caps;
  font-size: 1.45rem;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 4px;
  height: 60px;
  width: 185px;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.8s;
  cursor: pointer;
  
}
.all_galleries:hover
{
  color: gray;
}
video
{
  height: 700px;
  width: 1200px;
}
.buena
{
  height: 230px;
  width: 100%;
  background-color:  rgb(240, 240, 240);
  text-align: center;
}
.buena_vista
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:  nelhinco;
  font-size: 4.5rem;
}
.salida
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:  nelhinco;
  font-size: 4.5rem;
}
.e
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: adine;
  font-size: 6rem;
  margin-left: 300px;
  margin-top: -100px;
}
.wedding
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-variant: small-caps;
  font-weight: 500;
}
.familyfixed
{
  display: flex;
  align-items: center;
  justify-content: center;
}
cite
{
  position:absolute;
  left: 50px;
  margin-top: -180px;
  color: white;
  font-size: 4rem;
  font-family:'Courier New', Courier, monospace;
  font-variant: small-caps;
  font-weight: 900;
}
b
{
  position: absolute;
  left: 50px;
  margin-top: 230px;
  color: white;
  font-family: "Quicksand", sans-serif;
  
}
.familyfixed>img
{
   height: 750px;
   width: 100%;
  
}
.lets
{
  height: 400px;
  width:100%;
  background-color:rgb(240, 240, 240);
  /* border: 1px solid black; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.lets_make
{
  font-family:  nelhinco;
  font-size: 4rem;
  margin-top: 60px;
  margin-left: -70px;
  /* text-align: center; */
}
.beautiful
{
  font-family: lise;
  font-size: 8rem;
  margin-left: -280px;
  margin-top: 200px;
  /* text-align: center; */
  letter-spacing: 4px;
}
.inquire
{
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  margin-top: 300px;
  margin-left: -220px;
  font-variant: small-caps;
  color: black;
  transition: 0.8s;
  cursor: pointer;
}
.inquire:hover
{
  color: grey;
}
.instagram
  {
    height: 200px;
    width: 100px;
    background-color: rgb(162, 1, 1);
    position: relative;
    top:0px;
    border-radius: 0px 50px 100px 0px;
  }
  .instagram>img
  {
    height:50px;
    width: 50px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: relative;
    top:50px;
    left:20px;
  }
  strong
  {
    font-size: 1.3rem;
    color: black;
    position: relative;
    top: 50px;
    left: 10px;
    /* font-variant: small-caps; */
    font-family:nelhinco;
    
  }
.tenimg
{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  column-gap: 5px;
  overflow: hidden;
margin-top: -70px;
}
.tenimg>img
{
  height: 300px;
  width: 250px;
}
.footer
{
  width: 100%;
  height: 400px;
  /* background-color:rgb(240, 240, 240); */
  background-color:rgb(240, 240, 240);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* column-gap: -50px; */
}
.menu
{
  height: 350px;
  width: 300px;
  border-right: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.photography
{
  height: 350px;
  width: 700px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.inquired
{
  height: 350px;
  width: 300px;
  border-left: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_box
{
   height: 250px;
   width: 250px;
   /* border:1px solid black; */
   text-align: center;
   border-bottom:1px solid black;
   border-top:1px solid black;
}
.menu_font
{
  font-family:  nelhinco;
  font-size: 2.5rem;
}
ol
{
  font-family: "Quicksand", sans-serif;
  list-style: none;
  font-variant: small-caps;
  font-size: 1.2rem;
  margin-left: -35px;
  cursor: pointer;
}
.inquired_box
{
  height: 250px;
  width: 250px;
  border-bottom:1px solid black;
  border-top:1px solid black;
  text-align: center;
  font-family:  nelhinco;
  font-size: 2.5rem;
}
.photography_box
{
  /* height: 250px;
  width: 450px;
  border: 1px solid black; */
  text-align: center;
  font-family: sign;
  font-size: 6rem;
  letter-spacing: 5px;
}
.photogrphic
{
  font-size: 1.5rem;
  font-family: "Quicksand", sans-serif;
  position: relative;
  top:-25px;
  font-weight: 600;
  font-variant: small-caps;
  letter-spacing: 5px;
}
@keyframes move
{
    0%{right:0px;}
    5%{right:310px;}
    10%{right:620px;}
    15%{right:930px;}
    20%{right:1240px;}
    25%{right:1550px;}
    30%{right:1860px;}    
    35%{right:2170px;}
    40%{right:2480px;}
    45%{right:2840px;}
    50%{right:3280px;}

    55%{right:2840px;}
    60%{right:2480px;}
    65%{right:2170px;}
    70%{right:1860px;}
    75%{right:1550px;}
    80%{right:1240px;}
    85%{right:930px;}
    90%{right:620px;}
    95%{right:310px;}
    100%{right:0px;}   
}
@media only screen and (max-width: 700px)
{
 
.logo 
  {
     height: 350px;
     /* background-color: aqua; */
     display:flex;
     flex-direction: column;
  }
  .font1
  {
    font-size:2.3rem ;
    margin-left: 80px;
  }
  .logo_text
  {
    margin-left: 100px;
    margin-top: -80px;
  }
  .logo_font1
  {
    font-size: 6rem;
  }
  .logo_font2
  {
    font-size: 5rem;
  }
  .book
  {
    /* margin-top: -500px; */
    margin-left: 500px;
    /* background-color: aqua; */
    position: relative;
    top:-120px;
    left:-125px;
    width: 250px;
  
  }
  .bookme
  {
    margin-left: 25px;
    /* margin-top: -100px; */
    /* background-color: aqua; */
    font-size: 2rem;
  
  }
  .share>img
  {
    height: 35px;
    width: 35px;
    position: relative;
    left:40px;
  }
  .nav_page
  {
    display:flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .nav_size
  {
    font-size: 2rem;
  }
  a:hover
  {
    color: grey;
  }
  .photo
  {
    width:100%;
    /* background-color: aqua; */
  }
  .photo>img
  {
    height:1200px;
    width: 900px;
  }
  .border_font1
  {
    margin-left: 180px;
  }
  .border_font2
  {
    font-size: 1.5rem;
    margin-top: -100px;
  }
  .border_e
  {
    margin-left: 400px;
  }
  @keyframes move
  {
    0%{right:0px;}
    5%{right:800px;}
    10%{right:1600px;}
    15%{right:2400px;}
    20%{right:3200px;}
    25%{right:4000px;}
    30%{right:4800px;}    
    35%{right:5600px;}
    40%{right:6400px;}
    45%{right:7180px;}
    /* 50%{right:8000px;} */

    /* 55%{right:7190px;} */
    60%{right:6400px;}
    65%{right:5600px;}
    70%{right:4800px;}
    75%{right:4000px;}
    80%{right:3200px;}
    85%{right:2400px;} 
     90%{right:1600px;}
    95%{right:800px;}
    100%{right:0px;} 
  }
   .three_photo
   {
    display: grid;
    grid-template-rows: repeat(3,1fr);
   }
   .couple11>img
   {
    height: 900px;
    width: 700px;
    border-bottom: 30px solid white;
    margin-left: -70px;
    border-left: 30px solid white;
    border-right: 30px solid white; 
   }
   .couple11
   {
    margin-top: 60px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .couple13>img
   {
     height: 700px;
     width: 965px;
   }
   .couple13
   {
      margin-top: -400px;
      margin-left: 0px;
   }
   .couple12
   {
    margin-top: -800px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .couple12>img
   {
    height: 900px;
    width: 700px;
    border-top: 30px solid white;
    margin-left: 20px;
    border-left: 30px solid white;
    border-right: 30px solid white; 
   }
   .exper
 {
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: 5px;
   margin-top: -200px;
 }
 .box
 {
  /* background-color: aqua; */
  height: 250px;
 }
 .box1
 {
  width: 300px;
  height: 200px;
  /* background-color: red; */
 }
 .box2
 {
  width: 300px;
  height: 200px;
  /* background-color: green; */
 }
 .box3
 {
  width: 300px;
  height: 200px;
  /* background-color: yellow; */
 }
 .no
 {
  font-size: 2rem;
 }
 .num
 {
  font-size: 5rem;
 }
 .explore
 {
  font-size: 1.5rem;
 }
 .about{
  font-size: 1.5rem;
 }
 .get
 {
  font-size: 1.5rem;
 }
 h3
 {
  font-size:1.5rem;
 }
 h4
 {
  font-size:1.5rem;
  margin-top: -0px;
 }
 h6
 {
  font-size: 2rem;
 }
 .wedding
 {
  font-size: 2.1rem;
 }
 b
 {
  font-size: 1.5rem;
 }
 .rectangle
 {
  height:2500px;
  /* background-color: aqua; */
 }
 .rectangle_border
 {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: auto;
  width: 40%;
 }
 .hello_border
 {
  height: 800px;
  width: 600px;
  border: 1px solid black;
  position: relative;
  left: -50px;
 }
 .hello
{
  font-family: italic;
  text-align: center;
  font-size: 3.5rem;
  margin-top: 50px;
}
.daylene
{
  font-family:nelhinco;
  font-size: 6rem;
  font-family:900;
  margin-top: 20px;
}
.introvert
{
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;

}
.learn
{
  display: grid;
  grid-template-rows: repeat(3,1fr);
  justify-content:center;
  margin-top: 60px;
  /* position: relative;
  left: -25px; */
}
 .learn_more
 {
   font-weight: 500;
   font-size: 1.5rem;
   height: 70px;
   width: 300px;
  
 }
 .learn_more1
 {
    font-weight: 500;
    width: 300px;
    height: 70px;
    font-size: 1.5rem;
 }
 .learn_more1>span
 {
   margin-left: -8px;
   position: relative;
   left: 5px;
 }
 .hello_border
 {
    margin-left: -60px;
 }
 .family
 {
  height: 800px;
  width: 600px;
  position: relative;
  left: -110px;
 }
 .family>img
 {
  height: 800px;
  width: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .para
 {
  display: grid;
  grid-template-columns: 1fr;
  margin: auto;
  width: 60%;
  text-align: center;
  margin-top: 90px;
  font-size: 3rem;
  font-weight: 500;
 }
 .published
 {
  margin-left: 10px;
 }
 .sposuer
 {
  display: grid;
  grid-template-columns: repeat(2,1fr);
 }
 .com1>img
 {
  height:300px;
  width: 300px;
  margin-top: 10px;
  margin-left: 25px;
 }
 .com2>img
 {
  height:300px;
  width: 320px;
  margin-right: 25px;
 }
 .com3>img
 {
  height:300px;
  width: 350px;
  margin-left: 25px;
 }
 .com4>img
 {
  height:300px;
  width: 300px;
  margin-right: 25px;
 }
 .featured_box
  {
    margin-top: 350px;
    /* background-color: aqua; */
    width: 100%;
  }
  .featured
  {
    border-bottom: 1px solid black;
    /* background-color: aqua; */
    height:120px;
  }
 .gallerythree
 {
  height:1500px;
  /* background-color: aqua; */
  width: 100%;
  margin-top: -120px;
 }
 .gallery_three
 {
  display:grid;
  grid-template-columns: 1fr;
  margin: none auto;
  width: 45%;
  height: 1850px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-top: 30px;
  border-top:none;
  border-bottom: none;
 }
 .gallery_1
 {
  border: none;
 }
 .gallery_2
 {
  border: none;
 }
 .gallery_3
 {
  border: none;
 }
 .all_galleries
 {
  position: relative;
  left:50px;
  top:60px;
  height: 60px;
  width: 350px;
  font-size: 1.5rem;
 }
 video
 {
  margin-top:500px;
  width: 950px;
 }
  .lets_make
  {
    margin-left: 11px;
  }
  .inquire
  {
    font-size: 2rem;
    margin-left: -250px;
  }
  .instagram
  {
    height: 500px;
    width: 200px;
    background-color: rgb(170, 4, 4);
    position: relative;
    top:20px;
    border-radius: 0px 50px 200px 50px;
    
  }
  .instagram>img
  {
    height:100px;
    width: 100px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: relative;
    top:200px;
    left:50px;
  }
  strong
  {
    font-size: 3rem;
    color: black;
    position: relative;
    top: 140px;
    left: 10px;
    /* font-variant: small-caps; */
    font-family:nelhinco;
    
  }
  .tenimg
  {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
    margin: auto;
    width: 75%;
    position: relative;
    top:-280px;
    z-index: -10;
  }
  .tenimg>img
  {
    margin: auto;
    height: 850px;
    width: 650px;
    overflow:none;
  }
 
  .menu_box
  {
    width: 150px;
    height: 270px;
        /* background-color:aqua */
  }
 
  .inquired_box
  {
    width: 130px;
  }
  .photography_box
  {
    border: 1px solid black;
    position: relative;
    top:-230px;
    font-size: 6rem;
    width: 500px;
  }
  .photography
  {

    height: 100px;
    /* background-color: aqua; */
   
  }
  .menu
  {
    position: relative;
    left:200px;
    width: 700px;
    top:100px;
    width: 250px;
  }
  .inquired
  {
    position: relative;
    left:-200px;
    width: 700px;
    top:100px;
    width: 250px;
  }
  ol
  {
    font-weight: 900;
  }
  .footer
  {
    height: 700px;
    margin-top: -180px;
   
  }
  
}  

